extends layout

block content
    a.btn.btn-secondary.font-weight-light(href='/' role='button') Back
    br
    br
    h1.font-weight-light= article.title
    img.inarticle(src=article.image, alt='')
    h5.font-weight-light #{article.date.toDateString()}
    h5.font-weight-light #{article.category}
    h5.font-weight-light Written by: #{article.author}
    br
    p= article.body
    if user
        a.btn.btn-outline-secondary(href='/article/edit/'+article._id type='button') Edit
        a.btn.btn-outline-danger.delete-article(href='',data-id=article._id, type='button', style='margin-left: 10px;', onclick="return confirm('Are you sure you want to delete this item?');") Delete