extends layout

block content
    // Page Content
    .container
      // Temperature
      .temperature
        h4.font-weight-light(style='margin-right:6px;') Tel-Aviv
        img(src='https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png', alt='', style='width:30px; height:30px; margin-right: 6px;')
        h4.font-weight-light#temperature
      
      p.font-weight-light(style='margin-left:1px;') powered by © AWS-Lambda

      .coin-rates
        img.coins(src='https://cdn.onlinewebfonts.com/svg/img_60991.png', alt='', style='width:30px; height:30px; margin-right: 6px;')
        p.font-weight-light#dollarRate(style='margin-left:1px; margin-right:10px;')
        img.coins(src='https://cdn0.iconfinder.com/data/icons/neutro-finance/32/euro-symbol-512.png', alt='', style='width:34px; height:33px; margin-right: 6px; margin-top: -4px;')
        p.font-weight-light#euroRate(style='margin-left:1px; margin-right:10px;') 
        img.coins(src='https://cdn1.iconfinder.com/data/icons/business-finance-1-1/128/currency-pound-512.png', alt='', style='width:30px; height:30px; margin-right: 6px;')
        p.font-weight-light#poundRate(style='margin-left:1px;') 
        
      p.font-weight-light(style='margin-left:1px;') powered by © AWS-Elastic Beanstalk

      // Heading Row
      .row.align-items-center.my-5
        .col-lg-7
          img.img-fluid.rounded.mb-4.mb-lg-0(src='https://img.mako.co.il/2020/03/19/World_Empty_Street_C2020_4_i.jpg', alt='')
        // /.col-lg-8
        .col-lg-5
          h1.font-weight-light Redesigned classrooms and changed offices could see end to lockdown
          p.font-weight-light
            | Redesigned classrooms and changed working practices in offices could offer an exit from coronavirus lockdown measures, Scottish First Minister Nicola Sturgeon has said.
          a.btn.btn-primary.font-weight-light(href='/article/5f145b2aebd0623b94d019aa') Read More
        // /.col-md-4
        // /.row

      form(method='POST', action='/')
        #form-filter
          label.font-weight-light Filter by day:
          select.font-weight-light(class='selectnameday' name='selectname')
            option.font-weight-light(value='all') Choose a day...
            option.font-weight-light(value='Sun') Sunday
            option.font-weight-light(value='Mon') Monday
            option.font-weight-light(value='Tue') Tuesday
            option.font-weight-light(value='Wed') Wednesday
            option.font-weight-light(value='Thu') Thursday
            option.font-weight-light(value='Fri') Friday
            option.font-weight-light(value='Sat') Saturday
            input.btn.btn-primary.btn-sm.search.day(type='submit', value='Search')

      form(method='POST', action='/category')
        #form-filter
          label.font-weight-light Filter by category:
          select.font-weight-light(class='selectnamecat', name='selectname' id='selectcat')
            option.font-weight-light(value='all') Choose a category...
            for category in categories
              option.font-weight-light(value=category) #{category}
            input.btn.btn-primary.btn-sm.search.cat(type='submit', value='Search')
      br
      .row
        each article, i in articles
          if(article._id != '5f145b2aebd0623b94d019aa')
            .col-md-4.mb-5
              .card.h-100
                .card-body
                  img.img-responsive(src=article.image alt=" ...")
                  p
                  h1.card-title.font-weight-light= article.title
                  h6.font-weight-light #{article.date.toDateString()}
                  if(article.body.length > 200)
                    p.card-text.font-weight-light #{article.body.substring(0,200)}...
                  else
                    p.card-text.font-weight-light=article.body
                .card-footer
                  a.btn.btn-primary.btn-sm.font-weight-light(href='/article/'+article._id) Read More
                  span.pull-right #{article.views}
                  svg.bi.bi-eye-fill(id="eye-icon" width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                    path(d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z')
                    path(fill-rule='evenodd', d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z')
    script(src='/javascripts/lambda.js')
    script(src='/javascripts/beanstalk.js')