extends layout

block content
    // Page Content
    .container
      // Heading Row
      .row.align-items-center.my-5
        .col-lg-7
          img.img-fluid.rounded.mb-4.mb-lg-0(src='https://img.mako.co.il/2020/03/19/World_Empty_Street_C2020_4_i.jpg', alt='')
        // /.col-lg-8
        .col-lg-5
          h1.font-weight-light Redesigned classrooms and changed offices could see end to lockdown
          p.font-weight-light
            | Redesigned classrooms and changed working practices in offices could offer an exit from coronavirus lockdown measures, Scottish First Minister Nicola Sturgeon has said.
          a.btn.btn-primary.font-weight-light(href='/') Read More
        // /.col-md-4
        // /.row

      form(method='POST', action='/')
        #form-filter
          label.font-weight-light Filter by day:
          select.font-weight-light(class='selectnameday' name='selectname')
            option.font-weight-light(value='all') Choose a day...
            option.font-weight-light(value='Sun') Sunday
            option.font-weight-light(value='Mon') Monday
            option.font-weight-light(value='Tue') Tuesday
            option.font-weight-light(value='Wed') Wednesday
            option.font-weight-light(value='Thu') Thursday
            option.font-weight-light(value='Fri') Friday
            option.font-weight-light(value='Sat') Saturday
            input.btn.btn-primary.btn-sm.search.day(type='submit', value='Search')

      form(method='POST', action='/category')
        #form-filter
          label.font-weight-light Filter by category:
          select.font-weight-light(class='selectnamecat', name='selectname' id='selectcat')
            option.font-weight-light(value='all') Choose a category...
            for category in categories
              option.font-weight-light(value=category) #{category}
            input.btn.btn-primary.btn-sm.search.cat(type='submit', value='Search')
      br
      .row
        each article, i in articles
          .col-md-4.mb-5
            .card.h-100
              .card-body
                img.img-responsive(src=article.image alt=" ...")
                p
                h1.card-title.font-weight-light= article.title
                h6.font-weight-light #{article.date.toDateString()}
                if(article.body.length > 200)
                  p.card-text.font-weight-light #{article.body.substring(0,200)}...
                else
                  p.card-text.font-weight-light=article.body
              .card-footer
                a.btn.btn-primary.btn-sm.font-weight-light(href='/article/'+article._id) Read More
    